img {
    border: 0; 
}

hr { 
    width: 80%; 
    float: right;
    margin-top: 0px;
}

#circle {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 30px;
    border-radius: 50px;
    background-color: #aaa;
    z-index: 1000;
    opacity: 0.1;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition:  background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out; 
    transition: background-color 0.1s ease-in-out;
}

#circle:hover {
    background-color: #ddd;
}

#form {
    position: fixed;
    width: 150px;
    height: 140px;
    top: 20px;
    left: 20px;
    padding-left: 10px;
    padding-top: 45px;
    z-index: 1000;
    display: none;
    background: rgba(255,255,255,0.5);
}

#form label {
    float: left;
    font-family: Lucida Sans, Century Gothic, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: 100;
}

#form input {
    border: none;
    border-bottom: thin solid #eee;
    width: 80%;
    float: left;
    background: none;
}

#form input:focus {
    outline-width: 0; 
}

::-webkit-input-placeholder {  /* WebKit browsers */
    color: #666;
}
:-moz-placeholder {  /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
}
::-moz-placeholder {  /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
}
:-ms-input-placeholder {  /* Internet Explorer 10+ */
    color: #666;
}

#form #error {
    display: none; 
}

.banner {
    margin-top: -5px; /* cuts off top */ 
}

.banner h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
    font-family: Tahoma, Century Gothic, sans-serif;
    font-weight: 700;
    z-index: 1;
    color: black;
    margin: 0;
}

#photo_container {
    text-align: right; 
    display: none;
    padding: 0;
}

#photo_container * { padding-bottom: 5px; }

.main_column { padding: 0; }

.loading {
    margin: auto; 
    text-align: center;
}

.loading h3 {
    font-size: 20px;
    text-transform: lowercase;
    font-family: Lucida Sans, Century Gothic, Tahoma, sans-serif;
    font-weight: 100;
    color: black;
}

#troubleshoot_message {
    visibility: hidden; 
    margin-top: -10px;
}

/*custom viewport divide*/
@media (min-width: 590px){
    .banner h1{ font-size: 70px; }
    #photo_container * { padding: 5px; }
}
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner h1{ font-size: 120px; }
    .banner { margin-top: -33px; /* cuts off top */ }
}


/*progress bar
*********************************************************/
#movingBallG{
position:relative;
width:256px;
height:20px;
margin-top: 20px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:8px;
height:4px;
width:256px;
background-color:#FFFFFF;
}

.movingBallG{
background-color:#000000;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:1.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:1.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:1.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:1.7s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_movingBallG;
animation-duration:1.7s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

