img {
    border: 0; 
}
hr { 
    width: 80%; 
    float: right;
}
.banner h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: right;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-weight: 700;
    color: black;
    line-height: 35px; /* cuts off top */
}
#photo_container {
    text-align: right; 
    display: none;
    padding: 0;
}
#photo_container * { padding-bottom: 5px; }
.main_column { padding: 0; }

/*custom viewport divide*/
@media (min-width: 590px){
    .banner h1{ font-size: 70px; }
    #photo_container * { padding: 5px; }
}
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner h1{ font-size: 120px; }
}
